<p-card>
  <p-table
    #transactionTable
    [paginator]="true"
    [rows]="10"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50, 100, 500, 1000]"
    [scrollable]="true"
    scrollHeight="40vh"
    [value]="transactions"
    [showCurrentPageReport]="true"
    [globalFilterFields]="[
      'imeiNumber',
      'pvOrDCVoltage',
      'pvCurrent',
      'deviceTemperature'
    ]"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <div class="text-right">
        <span class="p-input-icon-right ml-auto mr-10">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            class="p-inputtext"
            (input)="
              transactionTable.filterGlobal(
                $any($event.target).value,
                'contains'
              )
            "
            [(ngModel)]="searchText"
            placeholder="Search keyword"
          />
        </span>
        <button
          pButton
          label="Clear"
          class="p-button-outlined"
          icon="pi pi-filter-slash"
          (click)="clear(transactionTable)"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="date" style="width: 15%">
          Time <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th pSortableColumn="imeiNumber" style="width: 35%">
          IMEI <p-sortIcon field="imeiNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="pvOrDCVoltage" style="width: 15%">
          Voltage <p-sortIcon field="pvOrDCVoltage"></p-sortIcon>
        </th>
        <th pSortableColumn="pvCurrent" style="width: 15%">
          Current <p-sortIcon field="pvCurrent"></p-sortIcon>
        </th>
        <th pSortableColumn="deviceTemperature" style="width: 20%">
          Temperature <p-sortIcon field="deviceTemperature"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td style="width: 15%">
          {{ data.date | customDate | date: "medium" }}
        </td>
        <td style="width: 35%">{{ data.imeiNumber }}</td>
        <td style="width: 15%">{{ data.pvOrDCVoltage }}</td>
        <td style="width: 15%">{{ data.pvCurrent }}</td>
        <td style="width: 20%">{{ data.deviceTemperature }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
