<p-card>
  <div class="row">
    <div class="col-md-12" style="text-align: right">
      <i
        class="pi pi-eye p-button"
        style="font-size: 1rem"
        (click)="zoomGraph()"
      ></i>
    </div>
    <div class="col-md-12">
      <!-- <p-chart [type]="graphType" [data]="data" #voltageChart></p-chart> -->
      <div
        id="chartContainer"
        style="height: 50vh; width: 100%"
        #currentChart
      ></div>
    </div>
  </div>
</p-card>
<p-dialog [header]="header" [(visible)]="zoom" style="margin-top: 5px">
  <div
    id="zoomChartContainer"
    #currentChart
    style="height: 50vh; width: 70vw"
  ></div>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Close" (click)="zoom = false"></button>
  </ng-template>
</p-dialog>
