/* You can add global styles to this file, and also import other style files */
.w-100{
    width: 100%;
}

.mt-10{
    margin-top: 10px;
}

.mr-10{
    margin-right: 10px;
}

.p-datatable-thead .p-sortable-column {
  font-size: 13px !important;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 6px 5px !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 6px 5px !important;
  font-size: 13px;
}

.p-inputtext{
  padding: 6px 5px !important;
}

.p-button{
  padding: 6px 5px !important;
}
